.btn {
    width: 210px;
    height: 38px;
    border-radius: 4px;
    background: #ef5b4c;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 36px;
    letter-spacing: 0;
    cursor: pointer;
}